* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonHome {
    width: 150px;
}

.selectHome {
    width: 250px;
}

.carouselHome {
    width: 550px;
}